<!-- sobre-nosotros.component.html -->
<app-encabezado></app-encabezado>
<div class="container mx-auto py-8 px-2 grid grid-cols-1 md:grid-cols-2 gap-8">
    
    <!-- Tarjeta de Descripción -->
    <div class=" bg-white rounded-lg p-6 shadow-md col-span-full md:col-span-2">
       
      <div class="flex flex-wrap justify-center">
        <div class="w-2/3 ">
          <h1 class="text-3xl font-bold mb-4">Sobre Nosotros</h1> 
          <p class="text-gray-700 mb-4">
            Somos una licorería ubicada en Valledupar, Cesar, Colombia. Nos especializamos en ofrecer una amplia variedad de licores de alta calidad, incluyendo vinos, cervezas y licores premium. Nuestra misión es proporcionar a nuestros clientes una experiencia excepcional y satisfactoria al comprar sus bebidas favoritas.
          </p>
          <p class="text-gray-700">
            En nuestra tienda, nos comprometemos a ofrecer productos de la más alta calidad, un servicio al cliente excepcional y precios competitivos. Valoramos a cada uno de nuestros clientes y nos esforzamos por superar sus expectativas en cada visita. ¡Esperamos verte pronto en nuestra licorería!
          </p>
        </div>
        <div class="m-2">
          <img class="h-72" src="../../../../assets/momento.png" alt="momento-licor">
        </div>
      </div>
    </div>

    <!-- Tarjeta de Misión -->
    <div class="bg-white rounded-lg p-6 shadow-md">
      <h2 class="text-xl font-semibold mb-4">Misión</h2>
      <p class="text-gray-700">
        Nuestra misión es ofrecer a nuestros clientes una experiencia excepcional al comprar sus bebidas favoritas, proporcionando productos de alta calidad, un servicio al cliente excepcional y precios competitivos.
      </p>
    </div>
    
    <!-- Tarjeta de Visión -->
    <div class="bg-white rounded-lg p-6 shadow-md">
      <h2 class="text-xl font-semibold mb-4">Visión</h2>
      <p class="text-gray-700">
        Nuestra visión es convertirnos en la licorería de referencia en Valledupar, Cesar, Colombia, reconocida por la calidad de nuestros productos, la excelencia en nuestro servicio y el compromiso con la satisfacción del cliente.
      </p>
    </div>
  
    
  </div>
